@function toRem($pixel) {
   @return #{$pixel / 16}rem;
}

$secondary-color: #ff851b;
$accent-color: #85144b;
$primary-dark: #001f3f;
$grey: #aaaaaa;

%border-radius {
   border-radius: 4px;
}

%box-shadow {
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
      0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
      0 16px 16px rgba(0, 0, 0, 0.05);
}

.toggle__container {
   @extend %border-radius;

   width: toRem(56);
   height: toRem(24);
   background-color: $primary-dark;
   padding: toRem(4);
   display: flex;
   cursor: pointer;

   &--toggled-left {
      justify-content: flex-start;
   }

   &--toggled-right {
      justify-content: flex-end;
   }
}

.toggle {
   width: 40%;
   height: 100%;
   background-color: $accent-color;
   border: 1px solid $grey;
}

.controls__toggle__wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: toRem(24);
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.machine-wrapper {
   border: 2px solid $secondary-color;
   background-color: #7fdbff;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: space-around;
   width: toRem(660);
}

.logo-wrapper {
   width: 100%;
   height: toRem(48);
   text-align: right;
   font-size: toRem(24);
   margin-right: toRem(16);
}

.drum-pad__bank--wrapper {
   display: grid;
   grid-template-columns: repeat(3, 100px);
   grid-template-rows: repeat(3, 80px);
   gap: toRem(8) toRem(10);
   width: toRem(320);
   margin-bottom: toRem(24);
}

.drum-pad__container {
   @extend %box-shadow;
   @extend %border-radius;

   margin: 0;
   color: white;
   display: flex;
   height: 100%;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   background-color: $primary-dark;
}

.controls__wrapper {
   width: toRem(264);
}

.controls__display {
   @extend %border-radius;

   background-color: $secondary-color;
   width: 80%;
   height: toRem(48);
   margin: toRem(16) auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.controls__volume {
   width: 100%;
   height: toRem(24);
   display: flex;
   align-items: center;

   & input {
      @extend %box-shadow;

      width: inherit;
      -webkit-appearance: none;
      border-radius: toRem(8);
      height: toRem(16);
      background: $primary-dark;

      &::-webkit-slider-thumb {
         background-color: $accent-color;
         -webkit-appearance: none;
         border-radius: toRem(8);
         border: 1px solid $grey;
         appearance: none;
         height: toRem(16);
         width: toRem(16);
         cursor: pointer;
      }

      &::-moz-range-thumb {
         background-color: $accent-color;
         border: 1px solid $grey;
         width: toRem(16);
         height: toRem(16);
         cursor: pointer;
      }
   }
}
